.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache
.env
.venv
venv/
ENV/
env/
htmldata/*
json_data/*
product_links.txt
used_links.txt
# Не игнорируем конфигурационные файлы
!htmlParser/configUpdater/config.json
!htmlParser/configUpdater/template.html
!htmldata/html_config/config_html_file.html
!run_update_config.py 